{% extends 'base.html' %}

{% block content %}
    <style>
    h1 { 
        color: palevioletred;
        text-align: center;
    }

    .imageContainer {
        overflow: hidden;
        width: 60%;
        margin-left: 30%;
        text-align: center;
    }
    .imageContainer > span {
        display: block;
        width: 100%;
    }
    .imageContainer > span > img {
        display: block;
        max-width:60%;
        /* max-height:95px; */
        width: auto;
        height: auto;
    }

    </style>
    <br>
    <div class="imageContainer">
        <span><img src="{{url_for('static', filename='images/logo.png')}}" /></span>
    </div>    
    <br>
    <h1>Welcome!</h1>=
{% endblock %} 