{% extends 'base.html' %}

{% block content %}
<form class="form-signin" action = "{{url_for('signup')}}" method = "post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <input type="text"  name="username" class="form-control" placeholder="Username" >
    <!-- <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
<!-- <form action = "{{url_for('signup')}}" method = "post">
   
    <p>username</p>
    <input type="text" name="username" placeholder="username">
   
    <input type="submit" name="" value="Sign Up">
   

</form> -->
{% endblock %}